body {background-color; DE8AD5;} 
#para1 {text-align: center;
  	color: rebeccapurple;
    font-size: 20; }
#para2 {text-align: left;
  	color: firebrick;}
#para3 {text-align: left;
  	color: firebrick;}
